<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.android.chrome" />
    </queries>
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".cenklaj.cesa.MainApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@drawable/icon_bro"
        android:label="@string/userName"
        android:roundIcon="@drawable/icon_bro"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaturnVpn"
        tools:replace="android:dataExtractionRules"
        tools:targetApi="31">
        <activity
            android:name=".vjrwqp.mke.MainAppActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vjrwqp.mke.MainCanGoActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data
                    android:host="com.spring.breeze.proud.horse.fast"
                    android:scheme="com.spring.breeze.proud.horse.fast" />
            </intent-filter>
        </activity>


        <activity
            android:name="sg.bigo.ads.api.AdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@drawable/ces_show"
            android:label="@string/str"
            android:noHistory="true"
            android:roundIcon="@drawable/ces_show"
            android:screenOrientation="portrait"
            android:taskAffinity="jia.opens.golden"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.api.PopupAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@drawable/ces_show"
            android:label="@string/str"
            android:noHistory="true"
            android:roundIcon="@drawable/ces_show"
            android:screenOrientation="portrait"
            android:taskAffinity="jia.opens.golden"
            android:theme="@style/TransparentDialog"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity-alias
            android:name="com.spring.breeze.proud.horse.fast.vjrwqp.mke.MainActivity"
            android:enabled="false"
            android:exported="true"
            android:targetActivity=".vjrwqp.mke.MainCanGoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="sg.bigo.ads.api.LandingStyleableActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@drawable/ces_show"
            android:label="@string/str"
            android:noHistory="true"
            android:roundIcon="@drawable/ces_show"
            android:screenOrientation="portrait"
            android:taskAffinity="jia.opens.golden"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.api.LandscapeAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@drawable/ces_show"
            android:label="@string/str"
            android:noHistory="true"
            android:roundIcon="@drawable/ces_show"
            android:screenOrientation="landscape"
            android:taskAffinity="jia.opens.golden"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.api.CompanionAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@drawable/ces_show"
            android:label="@string/str"
            android:noHistory="true"
            android:roundIcon="@drawable/ces_show"
            android:screenOrientation="portrait"
            android:taskAffinity="jia.opens.golden"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="sg.bigo.ads.api.LandscapeCompanionAdActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@drawable/ces_show"
            android:label="@string/str"
            android:noHistory="true"
            android:roundIcon="@drawable/ces_show"
            android:screenOrientation="landscape"
            android:taskAffinity="jia.opens.golden"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".vjrwqp.mke.MainJumpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>
        <activity
            android:name="sg.bigo.ads.core.mraid.MraidVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@drawable/ces_show"
            android:label="@string/str"
            android:noHistory="true"
            android:roundIcon="@drawable/ces_show"
            android:screenOrientation="portrait"
            android:taskAffinity="jia.opens.golden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    </application>

</manifest>